# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: ledger-db
  labels:
    image-policy.k8s.io/break-glass: "true"
spec:
  serviceName: "ledger-db"
  replicas: 1
  selector:
    matchLabels:
      app: ledger-db
  template:
    metadata:
      labels:
        app: ledger-db
        image-policy.k8s.io/break-glass: "true"
    spec:
      serviceAccountName: default
      containers:
        - name: postgres
        # TODO: pull out the version as a variable
          image: us-central1-docker.pkg.dev/bank-of-anthos-ci/bank-of-anthos/accounts-db:latest@sha256:c5f46f5ff76ad45c795438ed60e277d661dc28aebb32f55b917ec9770f2de603
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: environment-config
            - configMapRef:
                name: ledger-db-config
            - configMapRef:
                name: demo-data-config
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 250m
              memory: 1Gi
          volumeMounts:
            - name: postgresdb
              mountPath: /var/lib/postgresql/data
              subPath: postgres
      volumes:
        - name: postgresdb
          emptyDir: {}
---
  apiVersion: v1
  kind: Service
  metadata:
    name: ledger-db
  spec:
    type: ClusterIP
    selector:
      app: ledger-db
    ports:
    - name: tcp
      port: 5432
      targetPort: 5432
