# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: capital-agent-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: capital-agent-server
  template:
    metadata:
      labels:
        app: capital-agent-server
    spec:
      serviceAccountName: capital-agent-ksa
      containers:
        - name: capital-agent
          image: capital-agent
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
            failureThreshold: 3
          env:
            - name: GOOGLE_GENAI_USE_VERTEXAI
              value: "true"
            - name: GOOGLE_CLOUD_PROJECT
              valueFrom:
                configMapKeyRef:
                  name: capital-agent-config
                  key: GOOGLE_CLOUD_PROJECT
            - name: GOOGLE_CLOUD_LOCATION
              valueFrom:
                configMapKeyRef:
                  name: capital-agent-config
                  key: GOOGLE_CLOUD_LOCATION
            - name: MODEL_ID
              valueFrom:
                configMapKeyRef:
                  name: capital-agent-config
                  key: MODEL_ID
