/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// General inputs

// The directory where the helper will git clone the Google Source Repositories that will
// host the code for each one of the stages
code_checkout_path = "FULL_PATH_TO_FOLDER_WHERE_TO_CHECK_OUT_THE_SOURCE_REPOSITORIES"

// The directory where the user has created a fresh git clone of the Enterprise Application Blueprint repository
eab_code_path = "FULL_PATH_TO_FOLDER_WHERE_THE_EAB_CODE_WAS_CHECKED_OUT"

bucket_force_destroy  = true
buckets_force_destroy = true
deletion_protection   = false

infra_cloudbuildv2_repository_config = {
 github_app_id_secret_id                     = "projects/REPLACE_ME/secrets/github-app-id"
  github_secret_id                            = "projects/REPLACE_ME/secrets/github-pat"
  gitlab_authorizer_credential_secret_id      = ""
  gitlab_enterprise_ca_certificate            = ""
  gitlab_enterprise_host_uri                  = ""
  gitlab_enterprise_service_directory         = ""
  gitlab_read_authorizer_credential_secret_id = ""
  gitlab_webhook_secret_id                    = ""
  repo_type                                   = "GITHUBv2"
  repositories = {
    applicationfactory = {
      repository_name = "eab-appfactory"
      repository_url  = "https://github.com/REPLACE_ME/eab-appfactory.git"
    }
    fleetscope = {
      repository_name = "eab-fleetscope"
      repository_url  = "https://github.com/REPLACE_ME/eab-fleetscope.git"
    }
    hello-world = {
      repository_name = "hello-world-admin"
      repository_url  = "https://github.com/REPLACE_ME/hello-world-admin.git"
    }
    multitenant = {
      repository_name = "eab-multitenant"
      repository_url  = "https://github.com/REPLACE_ME/eab-multitenant.git"
    }
  }
  secret_project_id = "REPLACE_ME"
}

app_services_cloudbuildv2_repository_config = {
  repo_type = "GITHUBv2"
  repositories = {
    eab-default-example-hello-world = {
      repository_name = "hello-world-i-r"
      repository_url  = "https://github.com/REPLACE_ME/hello-world-i-r.git"
    }
  }
  # The Secret ID format is: projects/PROJECT_NUMBER/secrets/SECRET_NAME
  gitlab_authorizer_credential_secret_id      = ""
  gitlab_read_authorizer_credential_secret_id = ""
  gitlab_webhook_secret_id                    = ""
  # If you are using a self-hosted instance, you may change the URL below accordingly
  gitlab_enterprise_host_uri = ""
  # Format is projects/PROJECT/locations/LOCATION/namespaces/NAMESPACE/services/SERVICE
  gitlab_enterprise_service_directory = ""
  # .pem string
  gitlab_enterprise_ca_certificate = ""
  secret_project_id                = "REPLACE_ME"

  github_app_id_secret_id = "projects/REPLACE_ME/secrets/REPLACE_ME"
  github_secret_id        = "projects/REPLACE_ME/secrets/REPLACE_ME"
}


// An existing project configured as the default project in the local Cloud SDK configuration
// See https://cloud.google.com/sdk/gcloud/reference/config/set#EXAMPLES


// 1-bootstrap inputs
// https://github.com/GoogleCloudPlatform/terraform-google-enterprise-application/tree/main/1-bootstrap#inputs


common_folder_id = "folders/REPLACE_ME"
project_id       = "REPLACE_ME"
workerpool_id    = "projects/REPLACE_ME/locations/REPLACE_ME/workerPools/REPLACE_ME"
bucket_kms_key   = "projects/REPLACE_ME/locations/REPLACE_ME/keyRings/KEYRING_NAME/cryptoKeys/REPLACE_ME"
logging_bucket   = "REPLACE_ME"
kms_project_id   ="REPLACE_ME"

// 2-multitenant inputs
apps = {
  "default-example" : {
    "acronym"        = "de",
    ip_address_names = [],
    certificates     = {}
  }
}

envs = {
  "development" = {
    "billing_account"    = "REPLACE_ME"
    "folder_id"          = "folders/REPLACE_ME"
    "network_project_id" = "REPLACE_ME"
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/vpc-eab-vpc-development"
    "org_id"             = "REPLACE_ME"
    "subnets_self_links" = [
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-development-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-development-REPLACE_ME",
    ]
  }
  "nonproduction" = {
    "billing_account"    = "REPLACE_ME"
    "folder_id"          = "folders/REPLACE_ME"
    "network_project_id" = "REPLACE_ME"
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/vpc-eab-vpc-nonproduction"
    "org_id"             = "REPLACE_ME"
    "subnets_self_links" = [
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-nonproduction-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-nonproduction-REPLACE_ME",
    ]
  }
  "production" = {
    "billing_account"    = "REPLACE_ME"
    "folder_id"          = "folders/REPLACE_ME"
    "network_project_id" = "REPLACE_ME"
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/vpc-eab-vpc-production"
    "org_id"             = "REPLACE_ME"
    "subnets_self_links" = [
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-production-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-production-REPLACE_ME",
    ]
  }
}

// 3-fleetscope inputs

namespace_ids = {
  "hw-example" = "hw-example@example.com"
}

remote_state_bucket         = "REPLACE_ME"
attestation_evaluation_mode = "ALWAYS_ALLOW"
attestation_kms_key         = "projects/REPLACE_ME/locations/REPLACE_ME/keyRings/REPLACE_ME/cryptoKeys/REPLACE_ME"
attestation_kms_project     = "REPLACE_ME"
enable_kueue                = false
config_sync_branch          = ""
config_sync_repository_url  = ""
config_sync_secret_type     = ""
disable_istio_on_namespaces = []

// 4-appfactory

billing_account = "REPLACE_ME"
org_id          = "REPLACE_ME"

infra_project_apis = [
  "iam.googleapis.com",
  "cloudresourcemanager.googleapis.com",
  "serviceusage.googleapis.com",
  "cloudbilling.googleapis.com"
]
service_perimeter_name = "accessPolicies/REPLACE_ME/servicePerimeters/REPLACE_ME"
service_perimeter_mode = "DRY_RUN"
access_level_name      = "accessPolicies/REPLACE_ME/accessLevels/REPLACE_ME"
applications = {
  "default-example" = {
    "hello-world" = {
      create_infra_project = false
      create_admin_project = true
      admin_project_id     = ""
    }
  }
}
cb_private_workerpool_project_id = "REPLACE_ME"
location                         = "REPLACE_ME"

// 5-appinfra

region            = "REPLACE_ME"
trigger_location  = "REPLACE_ME"
bucket_prefix     = "bkt"
