/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// General inputs

// The directory where the helper will git clone the Google Source Repositories that will
// host the code for each one of the stages
code_checkout_path = "FULL_PATH_TO_FOLDER_WHERE_TO_CHECK_OUT_THE_SOURCE_REPOSITORIES"

// The directory where the user has created a fresh git clone of the Enterprise Application Blueprint repository
eab_code_path = "FULL_PATH_TO_FOLDER_WHERE_THE_EAB_CODE_WAS_CHECKED_OUT"

bucket_force_destroy  = true
deletion_protection   = false

// :TODO comments explaining variables.
infra_cloudbuildv2_repository_config = {
  github_app_id_secret_id                     = null
  github_secret_id                            = null
  gitlab_authorizer_credential_secret_id      = null
  gitlab_enterprise_ca_certificate            = null
  gitlab_enterprise_host_uri                  = null
  gitlab_enterprise_service_directory         = null
  gitlab_read_authorizer_credential_secret_id = null
  gitlab_webhook_secret_id                    = null
  repo_type                                   = "CSR"
  repositories = {
    applicationfactory = {
      repository_name = "eab-appfactory"
      repository_url = ""
    }
    fleetscope = {
      repository_name = "eab-fleetscope"
      repository_url = ""
    }
    hello-world = {
      repository_name = "hello-world-admin"
      repository_url = ""
    }
    multitenant = {
      repository_name = "eab-multitenant"
      repository_url = ""
    }
  }
  secret_project_id = null
}

app_services_cloudbuildv2_repository_config = {
  github_app_id_secret_id                     = null
  github_secret_id                            = null
  gitlab_authorizer_credential_secret_id      = null
  gitlab_enterprise_ca_certificate            = null
  gitlab_enterprise_host_uri                  = null
  gitlab_enterprise_service_directory         = null
  gitlab_read_authorizer_credential_secret_id = null
  gitlab_webhook_secret_id                    = null
  repo_type                                   = "CSR"
  repositories = {
    eab-default-example-hello-world = {
      repository_name = "hello-world-i-r"
      repository_url = ""
    }
  }
  secret_project_id = null
}


// An existing project configured as the default project in the local Cloud SDK configuration
// See https://cloud.google.com/sdk/gcloud/reference/config/set#EXAMPLES


// 1-bootstrap inputs
// https://github.com/GoogleCloudPlatform/terraform-google-enterprise-application/tree/main/1-bootstrap#inputs


common_folder_id = "folders/REPLACE_ME" //folder where the admin project for application will be created - MANDATORY
project_id       = "REPLACE_ME" // project where the cici pipelines will be created for infra deployment - MANDATORY
workerpool_id    = "projects/REPLACE_ME/locations/REPLACE_ME/workerPools/REPLACE_ME" //workerpool to be used by cicd pipeline - MANDATORY
bucket_kms_key   = "projects/REPLACE_ME/locations/REPLACE_ME/keyRings/KEYRING_NAME/cryptoKeys/REPLACE_ME" //KMS Key to encrypt buckets - OPTIONAL - use `null` is not configuring it
logging_bucket   = "REPLACE_ME" // Logging bucket - OPTIONAL - use `null` is not configuring it or comment this line

// 2-multitenant inputs
apps = {
  "default-example" : {
    "acronym"        = "de",
    ip_address_names = [],
    certificates     = {}
  }
}

// List all the enviroments to be deployed:
// At least one of the enviroments MUST be production
envs = {
  "development" = { //enviroment name
    "billing_account"    = "REPLACE_ME" // billing to be used to create enviroment projects
    "folder_id"          = "folders/REPLACE_ME" //folder where the enviroment projects will be creatd
    "network_project_id" = "REPLACE_ME" // the network project id for the enviroment
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/REPLACE_ME" // the network self link for the enviroment
    "org_id"             = "REPLACE_ME" // the org id
    "subnets_self_links" = [ // the subnetwork self link for the enviroment, each subnet provided will be used to create cluster in the same region.
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-development-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-development-REPLACE_ME",
    ]
  }
  "nonproduction" = {
    "billing_account"    = "REPLACE_ME"
    "folder_id"          = "folders/REPLACE_ME"
    "network_project_id" = "REPLACE_ME"
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/REPLACE_ME"
    "org_id"             = "REPLACE_ME"
    "subnets_self_links" = [
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-nonproduction-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-nonproduction-REPLACE_ME",
    ]
  }
  "production" = {
    "billing_account"    = "REPLACE_ME"
    "folder_id"          = "folders/REPLACE_ME"
    "network_project_id" = "REPLACE_ME"
    "network_self_link"  = "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/global/networks/REPLACE_ME"
    "org_id"             = "REPLACE_ME"
    "subnets_self_links" = [
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-production-REPLACE_ME",
      "https://www.googleapis.com/compute/v1/projects/REPLACE_ME/regions/REPLACE_ME/subnetworks/eab-production-REPLACE_ME",
    ]
  }
}

// 3-fleetscope inputs

namespace_ids = {
  "hw-example" = "hw-example@example.com"
}

attestation_evaluation_mode = "ALWAYS_ALLOW"
attestation_kms_key         = "projects/REPLACE_ME/locations/REPLACE_ME/keyRings/REPLACE_ME/cryptoKeys/REPLACE_ME" // KMS Attestation key ID to be used by binary authorization - OPTIONAL - use `null` is not configuring it
enable_kueue                = false

//Config sync configuration
config_sync_branch          = null // Config sync branch - OPTIONAL
config_sync_repository_url  = null //  Config sync repository url - OPTIONAL
config_sync_secret_type     = null // Config sync secret type - Valid values: `ssh`, `cookiefile`, `gcenode`, `gcpserviceaccount`, `githubapp`, `token`, or `none`.
config_sync_policy_dir      = null // Config sync policy directory - OPTIONAL

disable_istio_on_namespaces = []

// 4-appfactory

billing_account = "REPLACE_ME" // billing to be used to create projects - MANDATORY
org_id          = "REPLACE_ME" // org where is going to be deployed - MANDATORY

// APIs to be enabled on infra projects
infra_project_apis = [
  "iam.googleapis.com",
  "cloudresourcemanager.googleapis.com",
  "serviceusage.googleapis.com",
  "cloudbilling.googleapis.com"
]

service_perimeter_name = "accessPolicies/REPLACE_ME/servicePerimeters/REPLACE_ME" // The service perimeter name - OPTIONAL - use `null` is not configuring it
service_perimeter_mode = "DRY_RUN"
access_level_name      = "accessPolicies/REPLACE_ME/accessLevels/REPLACE_ME" // The access level name associated to the perimeter - OPTIONAL - use `null` is not configuring it


// Applications to be created infra - admin and infra project, cicd pipelines
applications = {
  "default-example" = {
    "hello-world" = {
      create_infra_project = false
      create_admin_project = true
      admin_project_id     = null
    }
  }
}

location          = "REPLACE_ME" //Location for build buckets
trigger_location  = "REPLACE_ME" // Trigger location
bucket_prefix     = "bkt"

// 5-appinfra
region            = "REPLACE_ME" // CICD region
