apiVersion: networking.gke.io/v1
kind: GCPTrafficExtension
metadata:
  name: llamma-model-armor-extension
spec:
  extensionChains:
    - name: llamma-model-model-armor
      matchCondition:
        celExpressions:
          - celMatcher: request.method == "POST" && (request.path == "/v1/chat/completions" || request.path == "/v1/completions")
      extensions:
        - name: llamma-model-model-armor-service
          googleAPIServiceName: modelarmor.__MODEL_ARMOR_LOCATION__.rep.googleapis.com # from-param: modelarmor.${model_armor_location}.rep.googleapis.com
          timeout: 10s
          failOpen: true
          supportedEvents:
            - RequestHeaders
            - RequestBody
            - RequestTrailers
            - ResponseHeaders
            - ResponseBody
            - ResponseTrailers
          metadata:
            model_armor_settings: >
              [
                {
                  "model": "food-review-1",
                  "model_response_template_id": "__MODEL_ARMOR_TEMPLATE_ID__",
                  "user_prompt_template_id": "__MODEL_ARMOR_TEMPLATE_ID__"
                },
                {
                  "model": "meta-llama/Llama-3.1-8B-Instruct",
                  "model_response_template_id": "__MODEL_ARMOR_TEMPLATE_ID__",
                  "user_prompt_template_id": "__MODEL_ARMOR_TEMPLATE_ID__"
                }
              ]
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: llamma-model-gw
